body {
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	margin: 1em;
}
main {
	
}
section {
	background-color: azure;
}
aside {
	background-color: aquamarine;
}
header, footer {
	background-color: lightskyblue;
}
