/* variables for the colors */
:root {
    --light: #f2972e;
    --dark: #931420;
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* default styles */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 1em auto;
    width: 90%;
}

h1,
h2,
h3,
p,
ul {
    padding: 0.5em 0;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 135%;
}

h3 {
    font-size: 120%;
}

p,
li {
    font-size: 95%;
}

ul {
    line-height: 1.5;
    margin-left: 2em;
}

a,
em {
    font-weight: bold;
}

a:link,
a:visited {
    color: var(--dark);
}

a:hover,
a:focus {
    color: var(--light);
}

/* the styles for the header */
header {
    text-align: center;

    & img {
        float: left;
        margin: 0.5em 0;
    }

    & h2 {
        color: var(--light);
        font-size: 225%;
        padding: 0;
    }

    & h3 {
        color: var(--dark);
        font-style: italic;
        padding-bottom: 1em;
    }
}

main {
    clear: left;
    padding-bottom: 0.5em;

    & p.indent {
        text-indent: 2em;
    }

    & a.date_passed {
        color: gray;
    }
}

/* the styles for the footer */
footer {
    padding-top: 0.5em;

    & p {
        font-size: 80%;
        text-align: right;
    }
}